*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("../images/fundo-login.jpg") ;
    background-position: center;

    color: black;
    font-family: Arial;
    align-items: center;
}
input{
    height: 35px;
    width: 300px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 12pt;
    padding: 7px 14px;
    background-color: rgba(255,255,255, 0.1);
    color: white;
    outline: none;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;

}
input option{
    background-color: rgba(255,255,255, 0.1);
}
::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color:white;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}
div#form-login {
    /*background-color: red;*/
    text-align: center;
    display: block;
    width: 420px;
    margin: 150px auto 0px auto;
}
div#form-login h1{
    text-align: center;
    padding: 10px;
}
div#form-login button{
    background-color: #ff0066;
    color: white;
    height: 45px;
    width: 330px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 12pt;
    padding: 7px 14px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    cursor: pointer;
}
div#form-login button:hover {
    background: #ff0099;
}
